{% load static %}
{% load mathfilters %}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'css/view_activity.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="jquery-3.6.1.min.js"></script>

    <title>View Activity</title>
</head>
{% include 'navbar_logged.html' %}
<body >
    <h4 class="page-title" style = "text-align:center;margin-top:30px;">My Reports</h4>  
    <form method="post" style = "margin-left:150px;">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Filter">
      </form>
        <table style = "width:75%;margin-left:auto;margin-right:auto;margin-top:30px;" id="zero_config" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Report type</th>
                    <th>Date</th>
                    <th>Completed Tasks</th>
                    <th>Uncompleted Tasks</th>
                    <th>Worked Hours</th>
                    <th>Pause Time</th>
                </tr>
            </thead>
            <tbody>
                {%for j in reports%}
                <tr >
                    {%if j.type == 0 %}
                    <th><a href = "viewReport/{{j.id}}" style="text-decoration:none;color:black;">Daily Report </a></th>
                    {% endif %}
                    {%if j.type == 1 %}
                    <th><a  href = "viewReport/{{j.id}}" style="text-decoration:none;color:black;">Weekly Report </a></th>
                    {% endif %}
                    {%if j.type == 2 %}
                    <th><a  href = "viewReport/{{j.id}}" style="text-decoration:none;color:black;">Monthly Report </a></th>
                    {% endif %}
                    {%if j.type == 3 %}
                    <th><a href = "viewReport/{{j.id}}" style="text-decoration:none;color:black;">Annual Report </a></th>
                    {% endif %}
                    <th>{{j.current_date}}</th>
                    <th><a href = "viewReport/{{j.id}}" style="text-decoration:none;color:black;">{{j.completed_tasks}}</a></th>
                    <th><a href = "viewReport/{{j.id}}" style="text-decoration:none;color:black;">{{j.active_tasks}}</a></th>
                    <th><a href = "viewReport/{{j.id}}" style="text-decoration:none;color:black; text-decoration: none;">{{ j.working_hours}} hours {{j.working_minutes}} minutes</a></th>
                    <th><a href = "viewReport/{{j.id}}" style="text-decoration:none;color:black; text-decoration: none;">{{ j.pause_hours}} hours {{j.pause_minutes}} minutes</a></th>

                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>  
    
    
    
</body>





</html>
