{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'css/view_activity.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="jquery-3.6.1.min.js"></script>

    <title>View Activity</title>
</head>
{% include 'navbar_logged.html' %}
<body >

        <table style = "width:70%;margin-left:auto;margin-right:auto;margin-top:30px;" id="zero_config" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Report id</th>
                    <th>Report type</th>
                    <th>Date</th>
                    <th>Completed Tasks</th>
                    <th>Total tasks for this date</th>
                    <th>Working hours</th>
                </tr>
            </thead>
            <tbody>
            {% for i in employees %}
                {%for j in tasks%}
                {%if i.id == j.user_id%}
                <tr >
                    <th><a href = "particularEmployee/{{i.username}}" style="color:#233863;">{{i.first_name}}</a></th>
                    <th><a href = "particularEmployee/{{i.username}}" style="color:#233863;">{{i.last_name}}</a></th>
                    <th><a href = "particularEmployee/{{i.username}}" style="color:#233863;">{{i.username}}</a></t>
                    <th><a href = "particularEmployee/{{i.username}}" style="color:#233863;">{{j.active_tasks}}</a></th>
                    <th><a href = "particularEmployee/{{i.username}}" style="color:#233863; text-decoration: none;">{{j.completed_tasks}}</a></th>    
                </tr>
                
                {% endif %}
                {% endfor %}
                {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    <th>Report id</th>
                    <th>Report type</th>
                    <th>Date</th>
                    <th>Completed Tasks</th>
                    <th>Total tasks for this date</th>
                    <th>Working hours</th>
            </tr>
            </tfoot>
        </table>
    </div>  
    
    
    
</body>





</html>
