/*
.navbar{
    overflow: hidden;
    justify-content: space-between;
    background-color:#b1d3ff;
    display:flex;
    padding-top:10px;
}
.container{
    justify-content: space-between;
    background-color:#b1d3ff;
    position: sticky;
    margin: 0 auto;
    display:flex;
    padding-top:5px;

}

ul{
    list-style:none;
    display:flex;
}

a{
    text-decoration: none;
    font-size:20px;
    color:#233863;
}
a:hover{
    color:white;
}

*/
body{
    font-family: 'Roboto', sans-serif;
}
nav{
    background-color:#b1d3ff;
    height:80px;
}

li{
    margin-right:20px;
}

a:hover{
    color:white;
}