{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>View Closed Tasks</title>
    <!-- Custom CSS -->
    <link href="{% static 'css/navbar_logged.css' %}" rel="stylesheet">
    <link href="{% static 'css/employee_closed_tasks.css' %}" rel="stylesheet">

</head>
{% include 'navbar_logged.html' %}

<body>

    <div id="main-wrapper" style = "margin-top:50px;" >
        <h4 class="page-title" style = "text-align: center;">Completed Tasks</h4>

        <table id="zero_config" class="table table-striped table-bordered" style ="margin-top:10px;width:95%;margin-left:auto;margin-right:auto;">
            <thead>
    
                <tr>
                    <th style = "width:14%;">Responsible for the task:</th>
                    <th style = "width:11%;">Task</th>
                    <th>Details</th>
                    <th style = "width:12%;">Assigned at</th>
                    <th style = "width:12%;">Started at</th>
                    <th style = "width:13%;">Completed at</th>
                    <th style = "width:13%;">Deadline</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {%for task in tasks%}
                {%if task.is_completed == 1 %}
                    <tr>
                    {% if task.is_overdue == 0 %}
                    <td style = "color: rgb(106, 162, 21); "style = "width:14%;">{{user.first_name}} {{user.last_name}}</td>
                    <td style = "color: rgb(106, 162, 21);" style = "width:11%;">{{task.headline}}</td>
                        <td style = "color: rgb(106, 162, 21);">{{task.body}}</td>
                        <td style = "color: rgb(106, 162, 21);" style = "width:12%;">{{task.assigned_at}}</td>
                        <td style = "color: rgb(106, 162, 21);" style = "width:12%;">{{task.started_at}}</td>
                        <td style = "color: rgb(106, 162, 21);" style = "width:13%;">{{task.closed_at}}</td>
                        <td style = "color: rgb(106, 162, 21);" style = "width:13%;">{{task.deadline}}</td>
                        <td style = "color: rgb(106, 162, 21);">{{task.task_type}}</td>
                        

                    {% endif %}
                    </tr>
                    <tr>
                    {% if task.is_overdue == 1 %}
                    <td style = "color: rgb(241, 83, 83);" style = "width:14%;">{{user.first_name}} {{user.last_name}}</td>
                        <td style = "color: rgb(241, 83, 83);" style = "width:11%;">{{task.headline}}</td>
                        <td style = "color: rgb(241, 83, 83);">{{task.body}}</td>
                        <td style = "color: rgb(241, 83, 83);" style = "width:12%;">{{task.assigned_at}}</td>
                        <td style = "color: rgb(241, 83, 83);" style = "width:12%;">{{task.started_at}}</td>
                        <td style = "color: rgb(241, 83, 83);" style = "width:13%;">{{task.closed_at}}</td>       
                        <td style = "color: rgb(241, 83, 83);" style = "width:13%;">{{task.deadline}}</td>   
                        <td style = "color: rgb(241, 83, 83);">{{task.task_type}}</td> 
                       
                    {% endif %}
            
                    </tr>
            {% endif %}
            {% endfor %}
                </tbody>
            </table>
</div>

    
</body>

</html>