{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet">

</head>
{% include 'navbar.html' %}

<body>

    <!--FORM-->
     <div class="wrapper" style = "margin-top:60px;">

            <h1 style = "text-align: center;">Log In Page</h1>
            <form id="loginUser" action = '/loginUser'  method = "post"  style = "margin-left:41%;margin-right:auto;" >
                
              {% csrf_token %}
              <div class = "field" style = "margin-top:20px;display: grid;">
                <label style = "color:#233863;" for="username">Username:</label>
                <input style = "width:30%;" type="text" placeholder="Username" aria-label="Username"  name = "username">
              </div>
              <div class = "field" style = "margin-top:10px; display: grid;">
                <label style = "color:#233863;" for="password">Password:</label>
                <input style = "width:30%;"type="password"  placeholder="Password" aria-label="Password"  name = "password">
              </div>
                <button  style= "background-color:#b1d3ff;border:none;margin-top:10px;padding:10px 18px;" class="btn" type="submit">Login</button>
                <p>Forgot Password Or New Employee? <a style = "text-decoration: none;color:black;" href = "{% url "reset_password" %}">Reset Password</a></p>
              </form>
    </div>

</body>