{%load static%}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>Reset Password</title>
    <!-- Custom CSS -->
    <link href="{%static 'css/navbar_logged.css' %}" rel="stylesheet">
</head>
{% include 'navbar_logged.html' %}
<body>
        <div style ="margin-top:10px; margin-left:10px;">
                <h4>
                    Link Sent Successfully
                </h4>
                <p>
                    Please check your email and access the link you have received!
                </p>
                

        </div>

</body>
</html>