body{
    font-family: 'Roboto', sans-serif;
}
.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.container .item{
    background-color:#b1d3ff;
    width:70%;
    height:8rem;
    text-align: center;
    align-items:center;
    margin-top:20px;
    display:grid;
    border-radius: 10px;
}
.container .item a{
    text-decoration: none;

    color:#233863;
    padding:20px 0;

}
.container .item i{
    padding:0 0 10px 0 ;
    font-size:25px;
    color:#233863;

}
.container .item a:hover{
    text-decoration: none;
    color:#556ea0;
}
