
{%load static%}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>View All Tasks</title>
    <!-- Custom CSS -->
    <link href="{%static 'css/navbar_logged.css' %}" rel="stylesheet">
</head>
{% include 'navbar_logged.html' %}

<body>
    <div style="margin-left:30px;margin-top:20px;">
                <h4>
                    Enter New Password
                </h4>
                <p>
                    Please enter your new password twice so we can verify you typed it in correctly.
                </p>
                <form method="post">
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" name="Update Password" style= "background-color:#b1d3ff;border:none;margin-top:8px;padding:8px 14px;border-radius:15%;">
    </div>
</body>
</html>