
{%load static%}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>View All Tasks</title>
    <!-- Custom CSS -->
    <link href="{%static 'css/navbar_logged.css' %}" rel="stylesheet">
</head>
{% include 'navbar_logged.html' %}

<body>
    <div style = "margin-top:15px;margin-left:15px;">
        <h4>Password reset complete</h4>
            <p>
                Your password has been set. You may go ahead and log in now.
            </p>
            <a href="/" style = "text-decoration: none;color:black;">Click Here To Login</a>

    </div>
</div>

</body>
</html>